# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data=pd.read_csv('city_data.csv')
city_data

,Unnamed: 0,City,Latitude,Longitude,Humidity,Wind_Speed,Temperature,Cloudiness
0,0,São Filipe,14.90,-24.50,81,0.64,36.812,100
1,1,East London,-33.02,27.91,31,5.44,35.340,0
2,2,Nikolskoye,59.70,30.79,87,1.00,34.144,0
3,3,Punta Arenas,-53.15,-70.92,86,9.30,32.186,22
4,4,Qasigiannguit,68.82,-51.19,81,1.00,33.430,11
...,...,...,...,...,...,...,...,...
560,560,Svobodnyy,51.40,128.13,48,2.55,38.292,4
561,561,Haines Junction,60.75,-137.51,47,4.09,35.128,7
562,562,Dutlwe,-23.98,23.90,66,3.99,32.678,0
563,563,Pacatuba,-3.98,-38.62,78,4.60,37.298,20
564,564,Faya,18.39,42.45,52,3.90,36.330,20

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
gmaps.configure(api_key=g_key)

locations = city_data[["Latitude","Longitude"]]

# Fill NaN values and convert to float
rating = city_data["Humidity"].astype(int)

In [57]:

figure_layout = {
    'width': '500px',
    'height': '500px',
    'margin': '0 auto 0 auto',
    'border': '1px solid black',
    'padding': '1px'}

fig = gmaps.figure(map_type='HYBRID',layout=figure_layout)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=5,opacity = 0.8)


# Add layer


fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure